<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>


    </head>

    <body>
        <div class="overallWrapper"></div>

    </body>

    <style>
        body{
            position: absolute;
            overflow: hidden;
            left: 0;
            top: 0;
            width: 99vw;
            height: 100vh;
        }

        .item{
            min-height: 50px;
        }

        .box {
            margin: 10px;
        }

        .overallWrapper{
            width: 100vw;
            display: grid;
            grid-template-columns: 12% 88%;
        }

        .dataWrapper{
            overflow-y: scroll;
            overflow-x: hidden;
            height: 100vh;
        }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" charset="utf-8"></script>
    <script src="/semi/js/Bookmark.js" charset="utf-8"></script>
    <script src="/semi/js/SectionLine.js" charset="utf-8"></script>
    <script src="/semi/js/Section.js" charset="utf-8"></script>
    <script src="/semi/js/Dataframe.js" charset="utf-8"></script>
    <script src="/semi/js/DataManager.js" charset="utf-8"></script>
    <script src="/semi/js/semi.js" charset="utf-8"></script>
</html>
