<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>


    </head>

    <body>
    </body>

    <style>
        body{
            position: absolute;
            left: 0;
            top: 0;
        }

        .item{
            min-height: 50px;
        }

        .box {
            margin: 10px;
        }

    </style>

    <script src="/semi/js/SectionLine.js" charset="utf-8"></script>
    <script src="/semi/js/Section.js" charset="utf-8"></script>
    <script src="/semi/js/Dataframe.js" charset="utf-8"></script>
    <script src="/semi/js/DataManager.js" charset="utf-8"></script>
    <script src="/semi/js/semi.js" charset="utf-8"></script>
</html>
